.Payment{
    padding: 30px;
    position: absolute;
    top: 70px;
    height: calc(100% - 105px);
    width: 100%;
    left: 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 20px;     
   
}

.Payment .ButtonContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.Payment .Image
{
    width: 100%;
    transition: all 200mx;
    cursor: pointer;
}


.Payment .Image:hover
{
    transform: scale(1.05);
}


.Payment input 
{
    width: 600px;
    height: 30px;
    font-size: 13px;
    border: 0px;
    outline: none;
    padding: 3px;
    background-color: rgb(243, 242, 239);
    box-shadow: 2px 0px 2px 0px rgba(190, 189, 189, 0.925);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    transition: all 200ms;
    
}

.Payment input:hover
{
   transform: scale(1.05);
}

